<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <display-name>Pahana Edu</display-name>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- Get Customer Info Servlet -->
    <servlet>
        <servlet-name>GetCustomerInfoServlet</servlet-name>
        <servlet-class>GetCustomerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomerInfoServlet</servlet-name>
        <url-pattern>/GetCustomerInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- Billing Servlet -->
    <servlet>
        <servlet-name>BillingServlet</servlet-name>
        <servlet-class>BillingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillingServlet</servlet-name>
        <url-pattern>/BillingServlet</url-pattern>
    </servlet-mapping>

    <!-- Delete Bill Servlet -->
    <servlet>
        <servlet-name>DeleteBillServlet</servlet-name>
        <servlet-class>DeleteBillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBillServlet</servlet-name>
        <url-pattern>/DeleteBillServlet</url-pattern>
    </servlet-mapping>

<servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
